.port-img {
  margin: 30px;
  margin-right: 40px; 
  width: 275px;
  height: 275;
  

}

.Footer{
  margin-top: 20px;
}
button:hover{
  cursor: pointer;
}

.Navbar {
  background-color: #333333 ;
  width: 100%;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  }

  .Navbar .leftside {
    flex: 50%;
    display: flex;
    justify-content: left ;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .Navbar .leftside  button{
    display: none;
    margin-left: 20px;
  }

  .Navbar .leftside  #hidden{
    display: flex;
    color: white;
    
  }

  .Navbar .leftside .links {
    max-height: 80px;
  }

  .Navbar .leftside .links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin-left: 10px;
  }

  .Navbar .rightside{
    flex: 50%;
  }

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width: 880px){
  .Navbar .leftside .links a {
    font-size: .8em;
  }

}

@media only screen and (max-width: 750px){
  .Navbar .leftside .links a {
    font-size: .8em;
  }

}

@media only screen and (max-width: 600px){
  .Navbar .leftside button{
    display: flex;
  }
  .Navbar .leftside .links a {
    display: none;
  }

  .Navbar .leftside #hidden {
    position: absolute;
    left: 0px;
    top: 40px;
    height: 230px;
    width: 100%;
    color: white ;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .Navbar .leftside #hidden a {
    color: white ;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: left ;

  }
  

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Navbar Formatting */
.nav-link  {
  background-color: #333333;
  font-weight: bold;
  color: rgb(255, 255, 255);
  min-height:30px !important; 
  padding-top:0px !important; 
  padding-bottom:0 !important; 	
  height: 35px;
   ;
      }
.nav-link-footer  {
  background-color: #333333;
  font-weight: bold;
  color: rgb(255, 255, 255);
  min-height:30px !important; 
  padding-top:0px !important; 
  padding-bottom:0 !important; 	
  height: 35px;
  text-align: center;
              }            

/* .navbar {
  background-color: #333333;
  font-weight: bold;
  color: rgb(255, 255, 255);
  min-height:30px !important; 
  padding-top:5px !important; 
  padding-bottom:0 !important; 	
  height: 40px;   

  } */
  .navbar-footer {
      background-color: #333333;
      font-weight: bold;
      color: rgb(255, 255, 255);
      min-height:30px !important; 
      padding-top:5px !important; 
      padding-bottom:0 !important; 	
      height: 40px;  
      text-align: center; 
      max-width: 100%;
  
      }

  .navbar-brand {
  background-color: #333333;
  font-weight: bold;
  color: rgb(255, 255, 255);
  min-height:30px !important; 
  padding-top:5px !important; 
  padding-bottom:0 !important; 	
  height: 40px; 
     
  
      }